.logo {
  height: 5.2rem;
  cursor:pointer
}
.logo_icon {
  display: none;
  cursor:pointer
}
@media (max-width: 700px) {
  .logo {
    height: 2rem;
  }
}
@media (max-width: 430px) {
  .logo {
    display: none;
  }
  .logo_icon{
    display:block;
    height:2.5rem
  }
}
